/CSEUtils.Propsition.Module.Tests/bin
/CSEUtils.Propsition.Module.Tests/obj
/CSEUtils.Proposition.Module/bin
/CSEUtils.Proposition.Module/obj
/CSEUtils.Interface/obj

/*/bin
bin


!/CSEUtils.Interface/bin